  article > div:first-child{
  height:9.7784%;
  line-height: 75px ;
  background-color: rgb(33, 48, 75);
}
article > div:nth-child(2){
  height:19.5567%;
  line-height:150px;
  background-color: rgb(70, 105, 172);
}
article > div:nth-child(3){
  height: 16.2973%;
  line-height:125px;
  background-color: rgb(64, 88, 131);
}
article > div:nth-child(4){
  height: 16.2973%;
  line-height: 125px;
  background-color: rgb(10, 43, 105);
}
article > section div{
  width:50%;
  height:250px;
  line-height: 250px;
  display: inline-block;
}
article > section > div:first-child{
  float:left;
  background-color:rgb(19, 90, 223);
}
article > section > div:nth-child(2){
  background-color: rgb(104, 134, 189); 
}
article > section div:nth-child(3){
  float:left;
  background-color: rgb(17, 65, 155);
}
article > section > div:nth-child(4){
  background-color: rgb(25, 56, 114); 
}
article footer{
  background-color: rgb(125, 162, 231);
  height:80px;
  line-height: 80px;
  clear:left;
  text-align:center;
}
@media screen and (min-width:768px){
  article{
    width:960px;
  }
  article > div:first-child{
    height:100px;
    line-height: 100px ;
    background-color: rgb(243, 125, 233);
  }
  article > div:nth-child(2){
    height:600px;
    width: 200px;
    float: left;
    line-height:600px;
    background-color: rgb(117, 72, 117);
  }
  article > div:nth-child(3){
    height: 200px;
    float: left;
    width:380px;
    line-height:200px;
    background-color: rgb(240, 98, 197);
  }
  article > div:nth-child(4){
    height: 200px;
    float: left;
    width: 380px;
    line-height: 200px;
    background-color: rgb(227, 10, 247);
  }
  article > section div{
    width:190px;
    height:250px;
    line-height: 250px;
    display: inline-block;
  }
  article > section > div:first-child{
    background-color:rgb(174, 138, 175);
    float: left;
  }
  article > section > div:nth-child(2){
   background-color: rgb(185, 24, 177);
   float: left; 
  }
  article > section div:nth-child(3){
    background-color: rgb(111, 17, 155);
    float: left;
  }
  article > section > div:nth-child(4){
    background-color: rgb(228, 92, 205);
    float: left; 
   }
  article footer{
    background-color: rgb(194, 49, 158);
    height:150px;
    line-height: 150px;
    width: 760px;
    text-align:center;
    float: left;
    clear:none;
  }
}
@media screen and (min-width:960px){
  
  article > div:first-child{
    background-color: rgb(29, 143, 53);
  }
  article > div:nth-child(2){
    background-color: rgb(128, 236, 85);
  }
  article > div:nth-child(3){
    background-color: rgb(13, 94, 56);
  }
  article > div:nth-child(4){
    background-color: rgb(13, 117, 56);
  }
  article > section > div:first-child{
    background-color:rgb(14, 158, 50);
  }
  article > section > div:nth-child(2){
   background-color: rgb(30, 221, 148);
  }
  article > section div:nth-child(3){
    background-color: rgb(121, 180, 136);
   
  }
  article > section > div:nth-child(4){
    background-color: rgb(56, 85, 66);
  } 
  article footer{
    background-color: rgb(22, 34, 28);
  } 